<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ChatDBConString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\karine\Documents\Studies\ComputerSciences\JohnBrice\Project\the chat example with DB\ChatDB\bin\Debug\ChatDatabase.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>